<!--
    TODO: Make the fields errors dynamic with the basePath to allow multiple addresses. Now it only works with one field called address
-->
<div th:fragment="address(address)">
    <h4 class="text-center">Address</h4>
    <article>
        <fieldset class="grid">
            <label>
                Country *
                <!--<select th:field="*{address.country}">
                    <option selected disabled value="">
                        Select your Country...
                    </option>
                    <option
                            th:each="countryOption : ${countries}"
                            th:text="${countryOption.getName()}"
                            th:value="${countryOption}">
                    </option>
                </select>-->
                <input
                        placeholder="Country"
                        type="text"
                        name="country"
                        th:field="*{address.country}"
                        th:attr="aria-invalid=${#fields.hasErrors('address.country')} ? 'true'"
                />
                <small th:errors="*{address.country}"></small>
            </label>
            <label>
                Region
                <input
                        placeholder="Region"
                        type="text"
                        name="region"
                        th:field="*{address.region}"
                        th:attr="aria-invalid=${#fields.hasErrors('address.region')} ? 'true'"
                />
                <small th:errors="*{address.region}"></small>
            </label>

        </fieldset>
        <fieldset class="grid">
            <label>
                City *
                <input
                        placeholder="City"
                        type="text"
                        name="city"
                        th:field="*{address.city}"
                        th:attr="aria-invalid=${#fields.hasErrors('address.city')} ? 'true'"
                />
                <small th:errors="*{address.city}"></small>
            </label>

            <label>
                Postal Code *
                <input
                        type="number"
                        step="1"
                        name="zip"
                        th:field="*{address.zip}"
                        th:attr="aria-invalid=${#fields.hasErrors('address.zip')} ? 'true'"
                />
                <small th:errors="*{address.zip}"></small>
            </label>

        </fieldset>
        <fieldset class="grid">
            <label>
                Street *
                <input
                        placeholder="e.g. Eventastic Street"
                        type="text"
                        name="street"
                        th:field="*{address.street}"
                        th:attr="aria-invalid=${#fields.hasErrors('address.street')} ? 'true'"
                />
                <small th:errors="*{address.street}"></small>
            </label>

            <label>
                House Number
                <input
                        placeholder="e.g. 3a Top 9"
                        type="text"
                        name="houseNumber"
                        th:field="*{address.houseNumber}"
                        th:attr="aria-invalid=${#fields.hasErrors('address.houseNumber')} ? 'true'"
                />
                <small th:errors="*{address.houseNumber}"></small>
            </label>
        </fieldset>
        <fieldset>
            <textarea
                    name="optionalText"
                    placeholder="Please provide additional information if necessary..."
                    aria-label="Professional short bio"
                    th:field="*{address.optionalText}"
                    th:attr="aria-invalid=${#fields.hasErrors('address.optionalText')} ? 'true'"
                    maxlength="150">
            </textarea>
        </fieldset>
    </article>
</div>