<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Fragment</title>
    <link rel="stylesheet" th:href="@{/pico-main/css/pico.min.jade.css}"/>
    <link rel="stylesheet" th:href="@{/css/generic.css}"/>
</head>
<body>
<!--@thymesVar id="user" type="fhv.team11.project.ems.commons.controller.base.attribute.user.UserAttributes"-->
<!--@thymesVar id="env" type="fhv.team11.project.ems.commons.controller.base.attribute.dev.EnvironmentAttributes"-->
<header th:fragment="header" class="container-fluid is-fixed-above-lg">
    <nav class="container">
        <ul>
            <li>
                <h2 class="text-center align-center no-margin-bottom">
                    <a th:href="@{/index}" style="text-decoration: none">
                        <strong>Eventastic</strong>
                        <small><s>Chaos</s> Edition</small>
                    </a>
                </h2>
            </li>
        </ul>
        <ul>
            <li><a th:href="@{/event}"><strong>Events</strong></a></li>
        </ul>
        <ul>
            <th:block th:if="${user?.isAuthenticated()}">
                <li>
                    <details class="dropdown">
                        <summary th:text="${user?.getUsername()}" class="contrast"></summary>
                        <ul>
                            <li><a class="secondary" th:href="@{/user/details}">Account</a></li>
                            <li><a class="secondary" th:href="@{/logout}">Logout</a></li>
                            <li><a href="!" id="theme-toggle" class="secondary">Toggle Theme</a></li>
                        </ul>
                    </details>
                </li>
            </th:block>
            <th:block th:if="${!user?.isAuthenticated()}">
                <li>
                    <a th:href="@{/login}">Login</a>
                </li>
                <li>
                    <a th:href="@{/register}" class="secondary">Register</a>
                </li>
            </th:block>
        </ul>
    </nav>
</header>

<script th:src="@{/js/theme-switcher.js}"></script>
</body>
</html>
