<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Fragment</title>
    <link rel="stylesheet" href="../../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}">
</head>
<body>
<!--@thymesVar id="universal" type="fhv.team11.project.ems.commons.home.base.attribute.GlobalAttributes"-->
<header th:fragment="header" class="main-header">
    <div class="header-left">
        <h1>Eventastic</h1>
    </div>

    <nav class="header-center">
        <ul>
            <li><a href="/" th:href="@{/}">Home</a></li>
            <li><a href="./event-organizer.html" th:href="@{/events}">Events</a></li>
            <li><a href="/users" th:href="@{/users}">Users</a></li>
        </ul>
    </nav>

    <div class="header-right">
        <span th:if="${universal?.isAuthenticated()}">
            <a href="./view-user.html" th:href="@{/view-user}" class="btn btn-outline header-btn" th:text="${universal?.user?.username}"></a>
        </span>

        <span th:unless="${universal?.isAuthenticated()}">
            <a href="./login.html" th:href="@{/login}" class="btn btn-outline header-btn">Login</a>
            <a href="./register.html" th:href="@{/register}" class="btn btn-primary header-btn">Register</a>
        </span>

    </div>
</header>
</body>
</html>