<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <title th:text="'Eventastic | ' + (${title} ?: '')"></title>
<!--    <link rel="stylesheet" href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}">-->
<!--    <link rel="stylesheet" th:href="@{/bootstrap-5.3.3-dist/css/bootstrap.min.css}">-->
<!--    <script th:src="@{/bootstrap-5.3.3-dist/js/bootstrap.min.js}"></script>-->
    <link rel="stylesheet" href="../static/pico-main/css/pico.jade.min.css" th:href="@{/pico-main/css/pico.jade.min.css}"/>
</head>
<body>
<!--@thymesVar id="universal" type="fhv.team11.project.ems.commons.controller.base.attribute.user.UserAttributes"-->
<!-- Header Section -->
<th:block th:if="${!#bools.isTrue(hideHeader)}">
    <header layout:fragment="header" th:replace="~{fragments/header :: header}"></header>
</th:block>


<main layout:fragment="content" class="container">
</main>

<!--<div layout:footer th:replace="fragments/footer :: footer"></div>-->

</body>
</html>
