<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <title th:text="'Eventastic | ' + (${title} ?: '')"></title>
    <link rel="stylesheet" href="../static/pico-main/css/pico.jade.min.css" th:href="@{/pico-main/css/pico.jade.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/generic.css}"/>
</head>
<body>
<!--@thymesVar id="universal" type="fhv.team11.project.ems.commons.controller.base.attribute.user.UserAttributes"-->
<!-- Header Section -->
    <th:block th:if="${!#bools.isTrue(hideHeader)}">
        <header layout:fragment="header" th:replace="~{fragments/header :: header}"></header>
    </th:block>

    <main layout:fragment="content" class="container">
        <div class="grid">
            <div layout:fragment class="left">

            </div>

            <div layout:fragment="center" role="document">
                <p>
                    Blablabla
                </p>
            </div>

            <div layout:fragment="right" class="align-items-right">

            </div>
        </div>
    </main>
</body>
</html>
