<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event Blueprint</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="form-container">
    <h2 class="text-center">Create Event Blueprint</h2>
    <form th:action="@{/blueprint/manage}" method="post" th:object="${blueprint}" novalidate>

        <div class="form-group">
            <label for="name"><strong>Name *</strong></label>
            <input type="text" id="name" name="name"
                   th:field="*{name}">
        </div>

        <div class="form-group">
            <label for="category"><strong>Category *</strong></label>
            <select id="category" th:field="*{category}">
                <option th:each="categoryOption : ${categories}"
                        th:text="${categoryOption.getName()}"
                        th:value="${categoryOption}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="price"><strong>Price *</strong></label>
            <input type="number" id="price" name="price" step="0.01"
                   th:field="*{price}">
        </div>

        <div class="form-group">
            <label for="maxParticipants"><strong>Max Participants *</strong></label>
            <input type="number" id="maxParticipants" name="maxParticipants"
                   th:field="*{maxParticipants}">
        </div>

        <div class="form-group">
            <label for="minParticipants"><strong>Min Participants *</strong></label>
            <input type="number" id="minParticipants" name="minParticipants"
                   th:field="*{minParticipants}">
        </div>

        <div class="form-group">
            <label for="country"><strong>Country *</strong></label>
            <input type="text" id="country" name="location"
                   th:field="*{address.country}">
        </div>

        <div class="form-group">
            <label for="county"><strong>Region</strong></label>
            <input type="text" id="county" name="county"
                   th:field="*{address.region}">
        </div>

        <div class="form-group">
            <label for="city"><strong>City</strong></label>
            <input type="text" id="city" name="zip"
                   th:field="*{address.city}">
        </div>

        <div class="form-group">
            <label for="zip"><strong>ZIP</strong></label>
            <input type="number" id="zip" name="zip"
                   th:field="*{address.zip}">
        </div>

        <div class="form-group">
            <label for="street"><strong>Street</strong></label>
            <input type="text" id="street" name="street"
                   th:field="*{address.street}">
        </div>

        <div class="form-group">
            <label for="house-number"><strong>House Number</strong></label>
            <input type="text" id="house-number" name="house-number"
                   th:field="*{address.houseNumber}">
        </div>

        <div class="form-group">
            <label for="optionalLine"><strong>Optional Line</strong></label>
            <input type="text" id="optionalLine" name="optionalLine"
                   th:field="*{address.optionalText}">
        </div>

        <!-- Submit Button -->
        <div class="form-group text-center">
            <input type="submit" value="Create Blueprint" class="btn btn-primary">
        </div>

    </form>
</div>

</body>
</html>