<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}"
      th:with="title='Create Event'">
<body>
<div layout:fragment="top">
    <div class="text-center">
        <h2>Create an Event Blueprint</h2>
    </div>
</div>
<div layout:fragment="center" class="container">
    <form th:action="@{/event/create}" method="POST" th:object="${eventTemplate}" novalidate>
        <div class="grid">
            <div>
                <h4 class="text-center">General Information</h4>
                <article>
                    <fieldset>
                        <label>
                            Name *
                            <input
                                    placeholder="e.g. Potato Festival"
                                    type="text"
                                    name="name"
                                    th:field="*{name}"
                            />
                        </label>
                        <label>
                            Category *
                            <select th:field="*{category}">
                                <option selected disabled value="">
                                    Select the category of your event...
                                </option>
                                <option
                                        th:each="categoryOption : ${categories}"
                                        th:text="${categoryOption.getName()}"
                                        th:value="${categoryOption}">
                                </option>
                            </select>
                        </label>
                        <label>
                            Price *
                            <input
                                    placeholder="e.g., 11.11"
                                    type="number"
                                    name="price"
                                    step="0.01"
                                    th:field="*{price}"
                            />
                            <small class="secondary">All Prices on this site are in €</small>
                        </label>
                    </fieldset>
                </article>
            </div>

            <div>
                <h4 class="text-center">Participants</h4>
                <article>
                    <fieldset class="grid">
                        <label>
                            Minimum
                            <input
                                    type="number"
                                    name="minParticipants"
                                    step="1"
                                    th:field="*{minParticipants}"
                            />
                            <small class="secondary">We will notify you before your event if this is not reached</small>
                        </label>
                        <label>
                            Maximum *
                            <input
                                    type="number"
                                    name="maxParticipants"
                                    step="1"
                                    th:field="*{maxParticipants}"
                            />
                        </label>
                    </fieldset>
                </article>
            </div>
        </div>
        <hr/>
        <div th:include="~{fragments/address-form :: address(${eventTemplate.address})}"></div>
    </form>
</div>

<!--<div class="form-container">-->
<!--    <h2 class="text-center">Create Event Blueprint</h2>-->
<!--    <form th:action="@{/event/create}" method="post" th:object="${eventTemplate}" novalidate>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="name"><strong>Name *</strong></label>-->
<!--            <input type="text" id="name" name="name" th:field="*{name}"-->
<!--                   th:classappend="${#fields.hasErrors('name') ? 'input-error' : ''}" placeholder="e.g., Muster Event" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="category"><strong>Category *</strong></label>-->
<!--            <select id="category" th:field="*{category}" th:classappend="${#fields.hasErrors('category') ? 'input-error' : ''}" class="form-control">-->
<!--                <option th:each="categoryOption : ${categories}" th:text="${categoryOption.getName()}" th:value="${categoryOption}"></option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="price"><strong>Price *</strong></label>-->
<!--            <input type="number" id="price" name="price" step="0.01" th:field="*{price}"-->
<!--                   th:classappend="${#fields.hasErrors('price') ? 'input-error' : ''}" placeholder="e.g., 11.11" class="form-control">-->
<!--        </div>-->
<!--        <div class="form-group mb-4">-->
<!--            <label for="maxParticipants"><strong>Max Participants *</strong></label>-->
<!--            <input type="number" id="maxParticipants" name="maxParticipants" th:field="*{maxParticipants}"-->
<!--                   th:classappend="${#fields.hasErrors('maxParticipants') ? 'input-error' : ''}" placeholder="e.g., 11" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="minParticipants"><strong>Min Participants *</strong></label>-->
<!--            <input type="number" id="minParticipants" name="minParticipants" th:field="*{minParticipants}"-->
<!--                   th:classappend="${#fields.hasErrors('minParticipants') ? 'input-error' : ''}" placeholder="e.g., 5" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="country"><strong>Country *</strong></label>-->
<!--            <input type="text" id="country" name="location" th:field="*{address.country}"-->
<!--                   th:classappend="${#fields.hasErrors('address.country') ? 'input-error' : ''}" placeholder="e.g., Austria" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="county"><strong>Region</strong></label>-->
<!--            <input type="text" id="county" name="county" th:field="*{address.region}"-->
<!--                   th:classappend="${#fields.hasErrors('address.region') ? 'input-error' : ''}" placeholder="e.g., Vorarlberg" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="city"><strong>City</strong></label>-->
<!--            <input type="text" id="city" name="zip" th:field="*{address.city}"-->
<!--                   th:classappend="${#fields.hasErrors('address.city') ? 'input-error' : ''}" placeholder="e.g., Musterstadt" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="zip"><strong>ZIP</strong></label>-->
<!--            <input type="number" id="zip" name="zip" th:field="*{address.zip}"-->
<!--                   th:classappend="${#fields.hasErrors('address.zip') ? 'input-error' : ''}" placeholder="e.g., 11111" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="street"><strong>Street</strong></label>-->
<!--            <input type="text" id="street" name="street" th:field="*{address.street}"-->
<!--                   th:classappend="${#fields.hasErrors('address.street') ? 'input-error' : ''}" placeholder="e.g., Musterstrasse" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="house-number"><strong>House Number</strong></label>-->
<!--            <input type="text" id="house-number" name="house-number" th:field="*{address.houseNumber}"-->
<!--                   th:classappend="${#fields.hasErrors('address.houseNumber') ? 'input-error' : ''}" placeholder="e.g., 11" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group mb-4">-->
<!--            <label for="optionalLine"><strong>Optional Line</strong></label>-->
<!--            <textarea id="optionalLine" name="optionalLine" th:field="*{address.optionalText}" maxlength="150"-->
<!--                      th:classappend="${#fields.hasErrors('address.optionalText') ? 'input-error' : ''}"-->
<!--                      placeholder="max 150 characters" rows="4" class="form-control"></textarea>-->
<!--        </div>-->

<!--        &lt;!&ndash; Submit Button &ndash;&gt;-->
<!--        <div class="form-group text-center">-->
<!--            <input type="submit" value="Create Blueprint" class="btn btn-primary">-->
<!--        </div>-->

<!--        &lt;!&ndash; Display All Form Errors Below the Button &ndash;&gt;-->
<!--        <div th:if="${#fields.hasErrors()}" class="alert alert-danger">-->
<!--            <ul>-->
<!--                <li class="error-message" th:each="err : ${#fields.errors()}" th:text="${err}"></li>-->
<!--            </ul>-->
<!--        </div>-->

<!--    </form>-->
<!--</div>-->
</body>
</html>

