<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
      th:with="title='Event Details'">
<head>
    <style>
        .time-cell {
            white-space: nowrap;
            width: 150px;
        }
        details[role="list"] {
            margin-bottom: 0;
        }
        .grid article:empty {
            visibility: hidden;
        }
    </style>
</head>
<body>
<div layout:fragment="top">
    <hgroup>
        <h2 th:text="${activeEvent.eventTemplateView.name}"></h2>
        <p th:text="${'Starting on ' + #temporals.format(activeEvent.eventDates.get(0).date, 'EEEE, MMMM d, yyyy')}"></p>
    </hgroup>
</div>
<div layout:fragment="center" class="container">
    <div th:each="row : ${rows}">
        <div class="grid">
            <article th:each="eventDate : ${row}">
                <hgroup>
                    <h4 th:text="${eventDate.name}"></h4>
                    <p th:text="${eventDate.date}"></p>
                </hgroup>
                <h5>Schedule</h5>
                <table role="grid">
                    <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Appointment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="appointment : ${eventDate.eventSchedule.getAppointments()}">
                        <td class="time-cell">
                            <span th:text="${#temporals.format(appointment.startTime, 'HH:mm')}"></span>
                            -
                            <span th:text="${#temporals.format(appointment.endTime, 'HH:mm')}"></span>
                        </td>
                        <td>
                            <details role="list">
                                <summary th:text="${appointment.title}"></summary>
                                <p th:text="${appointment.description}"></p>
                            </details>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </article>
        </div>
        <hr/>
    </div>
    <a role="button" th:href="@{/event/{templateId}/active/{id}/booking(templateId=${templateId}, id=${activeEventId})}">Book Event</a>
</div>
</body>
</html>
