<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main class="auth-form">
    <div class="card p-2" style="display: inline-block;">
        <h2 class="card-title">Select Your Dashboard</h2>
        <div class="btn-group mt-2">
            <a href="./events-view.html" class="btn btn-primary">Back-office</a>
            <a href="./event-organizer.html" th:href="@{/eventorganizer}" class="btn btn-primary">Event Organizer</a>
        </div>
    </div>
</main>
</body>
</html>