<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<!--
<header th:fragment="header" class="main-header">
    <div class="header-left">
        <h1>Eventastic</h1>
    </div>

    <nav class="header-center">
        <ul>
            <li><a href="./index.html" th:href="@{/}">Home</a></li>
            <li><a href="./events.html" th:href="@{/events}">Events</a></li>
            <li><a href="./users.html" th:href="@{/users}">Users</a></li>
        </ul>
    </nav>

    <div class="header-right">
        <span th:if="${session.authenticatedEmail}">
            <a href="./view-user.html" th:href="@{/view-user}" class="btn btn-outline header-btn" th:text="${session.authenticatedEmail}"></a>
        </span>

        <span th:unless="${session.authenticatedEmail}">
            <a href="./login.html" th:href="@{/login}" class="btn btn-outline header-btn">Login</a>
            <a href="./register.html" th:href="@{/register}" class="btn btn-primary header-btn">Register</a>
        </span>

    </div>
</header>
-->
<div class="auth-form">
    <h1>Welcome to Eventastic</h1>
</div>
</body>
</html>