<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}">
</head>
<body>
<header th:fragment="header" class="main-header">
    <div class="header-left">
        <h1>Eventastic</h1>
    </div>

    <nav class="header-center">
        <ul>
            <li><a href="./index.html" th:href="@{/}">Home</a></li>
            <li><a href="./events.html" th:href="@{/events}">Events</a></li>
            <li><a href="./users.html" th:href="@{/users}">Users</a></li>
        </ul>
    </nav>

    <div class="header-right">
        <a href="./login.html" class="btn btn-outline header-btn">Login</a>
        <a href="./register.html" class="btn btn-primary header-btn">Register</a>
    </div>
</header>
<div class="auth-form">
    <h1>Welcome to Eventastic</h1>
</div>
</body>
</html>