<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}"
      th:with="title='Login'">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Event</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>

<main class="container">
    <div layout:fragment="content">
    <h2 class="text-center" th:text="${ListTemplate.name}"></h2>

    <form th:action="@{/event/manage/{id}/plan(id=${ListTemplate.id})}" method="post" th:object="${eventDate}" novalidate>

        <div class="form-group">
            <label for="name"><strong>Name *</strong></label>
            <input type="text" id="name" name="name" required th:field="*{name}">
        </div>

        <div class="form-group">
            <label for="date"><strong>Date *</strong></label>
            <input type="date" id="date" name="date" required th:field="*{date}">
        </div>



        <!-- Plan Event Button -->
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Plan Event</button>
        </div>

    </form>
        <!--
        <ul class="list-group">
            <li class="list-group-item" th:each="wizardDate: ${wizard}">
                <a th:text="${wizardDate.name}" ></a>
                <a th:text="${wizardDate.date}" ></a>
            </li>
        </ul>
        -->
    </div>
</main>

</body>
</html>