<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}">
</head>
<body>
<div class="auth-form">
  <h2>Register</h2>
  <form th:action="@{/register}" method="POST">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" required>
    </div>

    <button type="submit" class="btn btn-primary btn-full">Register</button>
  </form>

  <div class="auth-links">
    <p class="text-muted">Already have an account? <a href="/login">Login here</a></p>
  </div>
</div>
</body>
</html>

