<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>

<header th:fragment="header" class="main-header">
    <div class="header-left">
        <h1>Eventastic</h1>
    </div>

    <nav class="header-center">
        <ul>
            <li><a href="./index.html" th:href="@{/}">Home</a></li>
            <li><a href="./events.html" th:href="@{/events}">Events</a></li>
            <li><a href="./users.html" th:href="@{/users}">Users</a></li>
        </ul>
    </nav>

    <div class="header-right">
        <a href="./login.html" class="btn btn-outline header-btn">Login</a>
        <a href="./register.html" class="btn btn-primary header-btn">Register</a>
    </div>
</header>

<main class="user-list container">
    <h2 class="text-center">User List</h2>

    <div class="card user-card">
        <a href="./view-user.html">
            <h3>Jane Doe</h3>
        </a>
            <p><strong>Email:</strong> jane.doe@example.com</p>
            <p><strong>Role:</strong> Admin</p>
    </div>

    <div class="card user-card">
        <a href="./view-user.html">
            <h3>John Smith</h3>
        </a>
            <p><strong>Email:</strong> john.smith@example.com</p>
            <p><strong>Role:</strong> Event Organizer, Back-Office Employee</p>

    </div>

    <div class="card user-card">
        <a href="./view-user.html">
            <h3>Emma Brown</h3>
        </a>
            <p><strong>Email:</strong> emma.brown@example.com</p>
            <p><strong>Role:</strong> User</p>
    </div>
</main>

</body>
</html>