<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}"
      th:with="title='Check-In'">
<body>
<!--@thymesVar id="user" type="fhv.team11.project.ems.commons.controller.base.attribute.user.UserAttributes"-->
<div layout:fragment="center" class="container text-center">
    <h1 class="invalid">Invalid!</h1>
    <th:block th:each="error : ${errors}">
        <p th:text="${error}"></p>
    </th:block>
</div>
</body>
</html>