<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}"
      th:with="title='Customer Profile'">
<body>
<div layout:fragment="top">
  <div class="text-center">
    <h2>Create Customer Profile</h2>
  </div>
</div>
<div layout:fragment="center" class="container">
  <form th:action="@{/profiles/customer/create/new}" method="POST" th:object="${customerProfile}" novalidate>
    <div class="grid">
      <div>
        <h4 class="text-center">Personal Information</h4>
        <article>
          <fieldset>
            <label>
              First Name *
              <input
                      placeholder="e.g. John"
                      type="text"
                      name="firstName"
                      th:field="*{firstName}"
                      th:attr="aria-invalid=${#fields.hasErrors('firstName')} ? 'true'"
              />
              <small th:errors="*{firstName}"></small>
            </label>

            <label>
              Last Name *
              <input
                      placeholder="e.g. Doe"
                      type="text"
                      name="lastName"
                      th:field="*{lastName}"
                      th:attr="aria-invalid=${#fields.hasErrors('lastName')} ? 'true'"
              />
              <small th:errors="*{lastName}"></small>
            </label>

            <label>
              Phone Number *
              <input
                      placeholder="e.g. +43 123 456789"
                      type="text"
                      name="phoneNumber"
                      th:field="*{phoneNumber}"
                      th:attr="aria-invalid=${#fields.hasErrors('phoneNumber')} ? 'true'"
              />
              <small th:errors="*{phoneNumber}"></small>
            </label>

            <label>
              Secret *
              <input
                      type="number"
                      name="secret"
                      th:field="*{secret}"
                      th:attr="aria-invalid=${#fields.hasErrors('secret')} ? 'true'"
              />
              <small th:errors="*{secret}"></small>
            </label>
          </fieldset>
        </article>
      </div>
    </div>
    <hr/>
    <div th:include="~{fragments/address-form :: address(${customerProfile.address})}"></div>

    <input
            type="submit"
            value="Create Profile"
    />
  </form>
</div>
</body>
</html>